.footer{
    height: 400px !important;
    width: 100% !important;
    background-color: #353535 !important;
}

.footer_p{
    color: white !important;
    padding-top: 100px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 2.0rem !important;
    text-align: center !important;
}

.footer_row{
    width: 100% !important;
    max-width: 300px !important;
    margin-top: 30px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}

.footer_dev_p{
    color: white !important;
    padding-top: 70px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 1.2rem !important;
    text-align: center !important;
}

.footer_dev_div{
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}


.footer_dev_span{
    font-weight: bold !important;
}


@media screen and (max-width: 758px){
    .footer_dev_p{
        color: white !important;
        padding-top: 50px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        font-size: 1.5rem !important;
        text-align: center !important;
    }

    .footer_dev_div{
        width: 100% !important;
        max-width: 300px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center !important;
    }

}