.banner_div{
    height: max-content !important;
    width: 100% !important;
}

.background_div{
    position: relative;
    width: 100% !important;
    background-color: #85181b;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}

.banner_div_img{
    object-fit: contain;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}


.over_div{
    width: 100% !important;
    position:absolute;
    bottom: 0;
}

.banner_row{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}

.banner_col{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}

.banner_col_wrapper{
    width: 100%;
    max-width: 500px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}

.banner_h2{
    color: white !important;
    margin-top: 25px !important;
    font-size: 4.0rem !important;
    font-weight: normal !important;
}

.app_row{
    width: 100% !important;
    max-width: 200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}

.app_col{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}

.download_app_row{
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.download_app_row_p{
    color: white !important;
    font-size: 2.0rem !important;
    font-weight: bold;
    text-align: center !important;
}

.phone_middle_row{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
}

.phone_middle_div{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;  
}

.phone_middle_img{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;  
}

.spacer{
    height: 50px !important;
    width: 50px !important
}

.banner_login_icon{
    cursor: pointer;
}

.app_row_second{
    display:none !important;
}

@media screen and (max-width:578px){
    .banner_app_col{
        display: none !important;
    }

    .over_div{
        width: 100% !important;
        position:absolute;
        top: 0 !important;
    }

    .background_div{
        height: 600px !important;
        background-color: #e1242b;
    }

    .banner_col_wrapper{
        margin-top: 50px !important;
    }

    .banner_div_img{
        display: none !important;
    }

    .banner_h2{
        font-size: 40px !important;
    }

    .app_row_second{
        display:block !important;
    }

    .app_col{
        display: inline-block !important;
        padding-top: 50px !important;
    }
}