.table{
    width:90% !important;
    max-width:1500px !important;
    margin-top: 50px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 50px !important;
}

.save_pdf_button_div{
    margin-top: 50px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 200px !important;
    text-align: center !important;
}

.save_pdf_button{
    width: 250px !important;
    height: 50px !important;
    background-color: #e1242b !important;
    border-radius: 0px;
    font-size: 1.5rem !important;
    font-weight: bold !important;
}

.save_pdf_button:hover,
.save_pdf_button:active,
.save_pdf_button:after,
.save_pdf_button:focus{
    background-color: #85181b !important;
}