.trucks_info_alert_div {
  width: 90% !important;
  max-width: 1100px !important;
  margin-top: 50px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.trucks_info_table_card {
  width: 90% !important;
  max-width: 1100px !important;
  margin-top: 50px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 50px !important;
  border-color: #696d71;
  border-radius: 0px !important;
}

.trucks_info_table_card_header {
  background-color: white !important;
  border: 0px !important;
}

.trucks_info_table_card_header_col {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  text-align: center !important;
}

.trucks_info_div_card {
  margin-top: 50px !important;
  border-radius: 0px !important;
}

.trucks_info_div_card_col {
  text-align: center !important;
}

.trucks_info_div_card_span {
  font-size: 1.2rem !important;
  text-align: center !important;
}

.trucks_info_div_card_footer {
  background-color: white !important;
  border: 0px !important;
}

.trucks_info_card_button {
  width: 250px !important;
  background-color: #e1242b !important;
  border-radius: 0px;
  font-size: 1.2rem !important;
  font-weight: bold !important;
  text-align: center !important;
}

.trucks_info_card_button:hover,
.trucks_info_card_button:active,
.trucks_info_card_button:after,
.trucks_info_card_button:focus {
  background-color: #85181b !important;
}

.trucks_info_delete_button {
  width: 250px !important;
  background-color: #e1242b !important;
  border-radius: 0px;
  font-size: 1.2rem !important;
  font-weight: bold !important;
  text-align: center !important;
}

.trucks_info_delete_button:hover,
.trucks_info_delete_button:active,
.trucks_info_delete_button:after,
.trucks_info_delete_button:focus {
  background-color: #85181b !important;
}

.trucks_info_div_card_header_span {
  display: none !important;
}

.trucks_info_button_div {
  margin-top: 50px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 200px !important;
  text-align: center !important;
}

.trucks_info_button {
  width: 250px !important;
  background-color: #e1242b !important;
  border-radius: 0px;
  font-size: 1.2rem !important;
  font-weight: bold !important;
}

.trucks_info_button:hover,
.trucks_info_button:active,
.trucks_info_button:after,
.trucks_info_button:focus {
  background-color: #85181b !important;
}

.truck_info_card_icon {
  display: none !important;
}

.trucks_info_h1 {
  display: none !important;
}

@media screen and (max-width: 578px) {
  .trucks_info_table_card_header_col {
    display: none !important;
  }

  .truck_info_card_button_div {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }

  .trucks_info_card_button {
    width: 100px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }

  .trucks_info_delete_button {
    width: 100px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }

  .trucks_info_div_card_header_span {
    display: inline-block !important;
    font-weight: bold;
  }

  .truck_info_card_icon {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 20px !important;
    text-align: center !important;
  }

  .trucks_info_h1 {
    display: block !important;
    margin-top: 30px !important;
    font-weight: bold !important;
    text-align: center !important;
  }

  .trucks_info_div_card_col {
    text-align: start !important;
  }

  .trucks_info_div_button_row {
    text-align: center !important;
  }

  .trucks_info_div_card_footer {
    text-align: center !important;
  }

  .trucks_info_div_button_col{
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important; 
  }
}
